/* ABOVE 375px */

@media (min-width: 375px) {
  .section-preview-card {
    background: #1b1937;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
    border-radius: 8px;
    overflow: hidden;

    row-gap: 40px;
    /* Temp */
    /* width: 327px;
    height: 780px; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-box {
    grid-column: -1;
  }
}
