/* ABOVE 375px */

@media (min-width: 375px) {
  /* GLOBAL STYLES */
  /* The Grid Template */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* The Flexbox Template */
  .flex {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
  }

  /* COMPONENT STYLES */
  .section-preview-card {
    width: 1110px;
    column-gap: 95px;
  }

  .img-box {
    width: 540px;
    height: 446px;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .content-box {
    padding: 71px 0 59px 71.5px;
    gap: 72px;
  }

  .information-area {
    gap: 63px;
  }
}
