/* ABOVE 375px */

@media (min-width: 375px) {
  /* GLOBAL STYLES */
  /* The Grid Template */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* The Flexbox Template */
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* COMPONENT STYLES */
  .section-preview-card {
    width: 1110px;
    gap: 95px;
  }

  .img-box {
    width: 540px;
    height: 446px;
    grid-column: 2;
    grid-row: 1;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .content-box {
    padding: 71px 0 59px 71.5px;
    gap: 72px;
    grid-column: 1;
    grid-row: 1;
  }

  .text-area {
    flex-direction: column;
    gap: 25px;
  }

  .title {
    text-align: left;
  }

  .description {
    text-align: left;
  }

  .information-area {
    flex-direction: row;
    justify-content: flex-start;
    gap: 63px;
  }
}
